footer {

  width: 100%;
  background-color: #E72410;
  
  .footer-content {
    display: flex;
    justify-content: center;
    
    p {
      color: #fff;
      font-size: 14.8px;
      padding: 1.5em 0;
      letter-spacing: 0.6px;
      
      &:nth-child(3) {
        display: none;
      }
    }
  }
  
  @include breakpoint(sm) {
    border-radius: 0 0 vwm(25px) vwm(25px);
    .footer-content {
      flex-direction: column;
      padding: vwm(25px) 0;

      p {
        font-size: clamp(12px, vwm(24px), vwm(24px));
        padding: 0;
        line-height: 1.5;
        text-align: center;

        &:nth-child(1) {
          display: none;
        }

        &:nth-child(3) {
          display: block;
        }
      }
    }

  }
}